# See http://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/

# Astro
dist/
.astro/

# Old Middleman
/.bundle
/build
/.sass-cache
/.cache

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
