---
title: Contact
---
<div class="row">
  <div class="small-12 columns">
    <h1>Contact</h1>
    <ul>
      <li>Want to access Urbed's archive? Ring them on 0161 200 5500 or email <a href="mailto:info@urbed.coop">info@urbed.coop</a>.</li>
      <li>Want to contribute to the project? Email <a href="mailto:kim@alliscalm.net">kim@allicalm.net</a> or send a <a href="https://github.com/kimadactyl/HulmeHistory">pull request on GitHub</a>.</li>
    </ul>
  </div>
</div>
