---
title: Hulme History
---
<nav id='menu-ui' class='menu-ui'></nav>

<section id='timeline'>
  <div id='crossbar'> </div>
  <div id='listholder'>
    <ol class="button-group">
      <% all_events.sort_by{|e| e.data.start}.reverse.each do |e| %>
        <li class="item block"><%= e.data.start %> <%= e.data.title %>
          <% if e.data.lat && e.data.lng %>
          <%= "<span data-latlng='#{e.data.lat},#{e.data.lng}' class='hidden' />" %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</section>

<section id='map'></section>

<script>
L.mapbox.accessToken = 'pk.eyJ1Ijoia2ltYWRhY3R5bCIsImEiOiJCYzdNTTR3In0.hkjyGpEFYdSPrVp3e717eA';
var map = L.mapbox.map('map').setView([53.468,-2.260], 15);
var layers = document.getElementById('menu-ui');

// Colour defs
var buildings = "#7FBB71";
var blocks = "#CDCCCC";

// Base map
addLayer(L.mapbox.tileLayer('mapbox.light'), 'Base Map', 1);

// 1871 map layers
var group1871 = L.layerGroup();
addLayer(group1871, '1871', 2);
// Async load so that the styles work properly for now.
// Later we can edit the style info in the geojson directly.
$.getJSON('./gis/1871_figure_ground.geojson', function(data) {
  l = L.mapbox.featureLayer(data);
  l.addTo(group1871);
  l.setStyle({fillColor: buildings});
});

$.getJSON('./gis/1871_blocks.geojson', function(data) {
  l = L.mapbox.featureLayer(data);
  l.addTo(group1871);
  l.setStyle({fillColor: blocks});
});


// 1990 map layers
var group1990 = L.layerGroup();
addLayer(group1990, '1990', 3);

$.getJSON('./gis/1990_figure_ground.geojson', function(data) {
  l = L.mapbox.featureLayer(data);
  l.addTo(group1990);
  l.setStyle({fillColor: buildings});
});

$.getJSON('./gis/1990_blocks.geojson', function(data) {
  l = L.mapbox.featureLayer(data);
  l.addTo(group1990);
  l.setStyle({fillColor: blocks});
});

// 2015 layers
var group2015 = L.layerGroup();
addLayer(group2015, '2015', 4);

$.getJSON('./gis/2015_blocks.geojson', function(data) {
  l = L.mapbox.featureLayer(data);
  l.addTo(group2015);
  l.setStyle({fillColor: blocks});
});

function addLayer(layer, name, zIndex) {
  layer
  .setZIndex(zIndex)
  .addTo(map);

  // Create a simple layer switcher that
  // toggles layers on and off.
  var link = document.createElement('a');
  link.href = '#';
  link.className = 'active';
  link.innerHTML = name;

  link.onclick = function(e) {
    e.preventDefault();
    e.stopPropagation();

    if (map.hasLayer(layer)) {
      map.removeLayer(layer);
      this.className = '';
    } else {
      map.addLayer(layer);
      this.className = 'active';
    }
  };

  layers.appendChild(link);
}

// attempted Timeline interface
function handle_mousedown(e){
    window.crossbar = {};
    crossbar.pageY0 = e.pageY;
    crossbar.elem = this;
    crossbar.offset0 = $(this).offset();
    function handle_dragging(e){
        var top = crossbar.offset0.top + (e.pageY - crossbar.pageY0);
        $(crossbar.elem)
        .offset({top: top});
        var tl_top = scroll_offs(top);
        $("#listholder").offset({top:tl_top});
    }
    function handle_mouseup(e){
        $('body')
        .off('mousemove', handle_dragging)
        .off('mouseup', handle_mouseup);
        snap_to_row(e)
    }
    var tl_height = $("#timeline").innerHeight();
    var tl_padding = parseInt($("#timeline").css('padding-top'));
    var tl_top = $("#timeline").offset().top;
    var button_height = $("#listholder li").outerHeight();
    var scroll_range = $("#listholder")[0].scrollHeight - tl_height +
      button_height;
    function scroll_offs(px) {
      // Check various geometry. Return correct scroll distance to drag handler
      var listholder_scroll_offset = tl_top + button_height + tl_padding - px *
        scroll_range / tl_height;
      return listholder_scroll_offset;
    }
    function snap_to_row(e){
      $("#listholder li").each(function(){
        cb = $("#crossbar");
        var top = $(this).offset().top;

        // CASE: crossbar is over li
        if (cb.offset().top > top &&
          cb.offset().top < (top + $(this).outerHeight())) {
            var midline = top + ($(this).height() - cb.height())/2;
            cb.animate({top: midline});
            if(!$(this).hasClass("active")){
            activate($(this));
            }
        } else if($(this).hasClass("active")){
          // CASE: Crossbar is not over li. Deactivate
          deactivate($(this));
        }
      });
    }
    function activate(elem) {
      elem.addClass("active");
      // var latlng = elem.children()[0].getAttribute('data-latlng');
      // TODO: TRIGGER Visualisation POPUP? MARKER? WHATNOT?
    }
    function deactivate(elem) {
      elem.removeClass("active");
      // TODO: TRIGGER Visualisation hide.
    }
    $('body')
    .on('mouseup', handle_mouseup)
    .on('mousemove', handle_dragging);
}
$('#crossbar').mousedown(handle_mousedown);
</script>
